a:hover { color: #ee5555;}

.cart-tit { margin-top: 150px; height: 30px; line-height: 30px; background-color: #eee; border: 1px solid #aaa; text-align: center}
.cart-tit>* { float: left}
.choose-wrap { width: 100px;}
.tit-name { width: 500px; text-align: left}
.tit-price { width: 140px;}
.tit-num {width: 140px;}
.tit-sum {width: 140px;}
.tit-option {width: 140px;}

.cart-list {padding-top: 20px;text-align: center}
.cart-item { border: 1px solid #aaa; margin-top: -1px; padding:15px 10px; height: 80px;}
.cart-item>* { float: left}
.item-choose { width: 50px;}
.item-pic { margin-left: 20px; height: 80px; width: 80px;}
.item-pic img { width: 100%; height: 100%}
.item-name {text-align: left; width: 250px; margin-left: 20px;}
.item-props {text-align: left; width: 150px; margin-left: 20px;}
.item-price {width: 140px;}
.item-num {width: 140px;}
.item-sum {width: 140px;}
.item-option {width: 140px;}
.cell {width: 140px;}
.num-wrap { line-height: 30px; padding-left: 18px; }
.num-wrap a {float: left; width: 20px;border: 1px solid #ccc; text-align: center;}
.num-text { text-align: center; margin: 0 -1px; width: 60px; line-height: 30px; border: 1px solid #ccc; float: left }


#cart-bar {  margin-top: 20px; line-height: 40px; background-color: #eee; border: 1px solid #aaa; height: 40px; }
#cart-bar.fixed { position: fixed; bottom: 0; left: 0; border: none; background-color: #fff; width: 100%; box-shadow:  0 -3px 5px rgba(0,0,0,.5)}
.choose-wrap {}
.choose-delete {}
.ok { background-color: #ee5555; color: #fff; font-size: 24px; padding: 0 10px; }
.ok:hover { color: #fff;}
.all-sum {}
.all-sum {}
